.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 450px;
    border-radius: 10px;
    background-color: rgb(109, 106, 106);
}