.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 700px;
    width: 400px;
    border-radius: 10px;
    background-color: #34495e
}